<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        {{info}}
        <br>
        
        <button class="btn btn-danger my-5" onclick="logout()">LOGOUT</button>
    </div>
</div>
