<div class="container">
    <div class="card text-center bg-success">
        <div class="card-header"> Bienvenido</div>
        <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <p class="card-text">Cantidad de visitias: {{contador}}</p>
        </div>
    </div>

     <hr>

    <div>
        <button type="submit" class="btn btn-primary mt-3" onclick="location.href='/logout'">
            Logout
        </button>
    </div>
</div>