<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Bienvenido
        </div>
    <div class="card-body">
        <h5 class="card-title">{{nombre}}</h5>
        <p class="card-text">Cantidad de visitas: {{contador}}</p>
    </div>
    </div>
    <hr>
    
    <div class="mt-3">
        <button type="submit" class="btn btn-primary mt-3" onclick="location.href='/logut.html'">Logout</button>
    </div>

</div>